<h2>Login</h2>
<form method="POST">
  <input name="username" required placeholder="Username" />
  <input type="password" name="password" required placeholder="Password" />
  <button type="submit">Login</button>
</form>
