<h2>Welcome to Video Chat</h2>
<video id="myVideo" autoplay muted playsinline></video>
<video id="peerVideo" autoplay playsinline></video>

<script>
  const userId = "<%= userId %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/video.js"></script>
